## ban all
*
!*/

!.gitignore
!README.md
## except white list to 
# include (w/ ! prefix):


!/src/**/*.*
!/libs/**/*.*
!/prodResources/*.*
!/release/*.*

!**/*.java

!build.gradle
!conf.props


## over ride
**/.DS_Store
**/Thumbs.db
